@model StudySubjectModel
@{
    ViewData["Title"] = "Subject marks";
}

<br />
<a asp-controller="StudySubject" asp-action="Index">Back</a>
<br />


<h2>@Model.Name</h2>


<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Surame</th>
        <th>Mark</th>

    </tr>


    @foreach (var mark in Model.Marks)
    {
        <tr>
            <td>@mark.Name</td>
            <td>@mark.Surname</td>
            <td>@mark.Mark</td>
        </tr>
    }
</table>
